<div class="image col-md-6 col-xs-12">
</div>
<div class="bio col-md-6 col-xs-12">

	<h3> Hello!</h3>
	<p> I am a junior web developer with a passion for food and traveling. Colorful things brighten up my mood, so I decide to build this site with colors. <br><br>

	I am a UC Berkeley graduate with a double major in Chinese Language and Political Economic. <br><br>

	Prior to General Assembly, I was working as an Ad Operations Analyst at Tapjoy, a place that inspired me to learn how to code and to be who I am today. <br><br>

	I love making applications that are easy to use. My goal right now is to get a full time, full stack web development job, where I can practice what I have learned, and continue learning more programming languages. <br><br>

	My favorite languages and frameworks are Javascript, Ruby, Rails, AngularJS, jQuery.
 


	</p>

	<button type="button" class="btn btn-default about-close-box">Close</button>
					
				
</div>