<div class="image col-md-6 col-xs-12">
</div>
<div class="bio col-md-6 col-xs-12">

	<h3> Hello!</h3>
	<p> I am a junior web developer with a passion for food and traveling. I love colorful things because they brighten up my mood. 

	I am a UC Berkeley graduate with a double major in Chinese Language and Political Economic. 

	Proir to General Assembly, I was working as an Ad Operations Analyst at Tapjoy. A place that inspired me to learn how to code. 

	I love making applications that is easy to use on a daily basis. My favorite languages and frameworks are Javascript, Ruby, Rails, AngularJS, jQuery. 


	</p>

	<button type="button" class="btn btn-default close-box">Close</button>
					
				
</div>