
<div class="projectone-top col-md-12 col-xs-12">
	<div class="background2"></div>

</div>

<div class="projectone-bottom col-md-12 col-sx-12">
	<div class="detail">
	<h3> Project 1: Tic-Tac-Toe</h3>
	<class="thankyou"> Thank you for visting my page2.</a>
	</div>
</div>
