
<div class="projectone-top col-md-12 col-xs-12">
	<div class="background2"></div>

</div>

<div class="projectone-bottom col-md-12 col-sx-12">
	<div class="detail">
	<h3> Project 2: FEED YO'SELF</h3>
	<p> Feed Yo'self was built by my classmates, Chris Garvin and Steve Soter and I. This was our first project experimenting with third party API and jQuery. It was made with Ruby on Rails, Google map API and Bootstrap. We wanted to build a quick and simple food search app, by matching food item with user's budget. </p>
	<a class="project2 btn btn-default"href="http://feedyoself.herokuapp.com/">
		VISIT THIS APP
	</a>
	</div>
</div>
