
<div class="projectone-top col-md-12 col-xs-12">
	<div class="background"></div>

</div>

<div class="projectone-bottom col-md-12 col-sx-12">
	<div class="detail">
	<h3> Project 1: Tic-Tac-Toe</h3>
	<p> My first web project, a tic-tac-toe game. It was built with CSS, HTML, JS and AngularJS, deployed on firebase. I made this application after 3 week into the Web Development Imersive course at GA.</p>

	<a class="project1 btn btn-default"href="https://dailytictactoe.firebaseapp.com/">
		VISIT THIS APP
	</a>
	</div>
</div>
