
<div class="projectone-top col-md-12 col-xs-12">
	<div class="background3"></div>

</div>

<div class="projectone-bottom col-md-12 col-sx-12">
	<div class="detail">
	<h3> Project 3: Meet-Me-At</h3>
	<p> This is another fun Ruby on Rails project. I created this project with my classmate/friend Cristal Chavez. We wanted to build a simple meeting invitation app, so that we don't have to scroll through text messages to find out when and where we suppose to meet.</p>
	<a class="project3 btn btn-default"href="http://www.meet-me-at-the.club/users/sign_in">
		VISIT THIS APP
	</a>

	</div>
</div>
