/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
	background-color: #333333;
}


.navbar-inverse .navbar-brand {
	color:white;
	font-family: 'Cookie', cursive;
	font-size:  50px;
}

.navbar-inverse .navbar-brand:hover {
	color: #e9bc1e;
	font-size: 60px;
}


.navbar-inverse .navbar-nav > li > a {
	    color: #0193b7;
	    font-family: 'Muli', sans-serif;
	    font-size: 12px;

	    
}

.navbar-inverse .navbar-nav > li > a:hover {
	 font-size: 20px;
}

.container {
	width: 100%;
}


div.hello-box {
	width: 100%;
	height: 250px;
	background-color: black;

	div.left-box {
		width: 50%;
	}

	h2.hello {
		font-family: 'Poiret One', cursive;
		font-size: 90px;
	    	color: white;
	    	padding-top: 4%;
	    	margin-top: 8%;
	}

	div.right-box {
		width: 45%;
		/*background-color: #f8dc0b;*/
	}

	p.thankyou {
		color:white;
		margin-top: 20%;
	}

	.about-me {
		display: none;
		color:#e9bc1b;
		margin-top: 5%;

	}

}

div.hello-box:hover {
	background-color: #6e6e6e;
}

div.tic-tac-toe {
	display: none;
	width: 100%;
	height: 450px;
	background-color: #e9bc1b;
}

div.projectone-top {
	width: 100%;
	position: relative;
}

div.background{
	background-image: url("http://i.imgur.com/4gA2xKH.png");
	background-repeat: none;
	width: 70%;
	height: 200px;
	border: 5px black solid;
	margin: 0 auto;
	margin-top: 5%;
}


div.about-me {
	display: none;
	width: 100%;
	height: 400px;
	background-color: black;

}

div.image {
	background-image: url("http://i.imgur.com/vTiiE8w.png");
	width: 400px;
	height: 400px;
	border: 5px white solid;
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

div.bio {
	margin-top: 5%;
	color: white;
}
a.project1.btn-default {
	border-radius: 0px;
	background-color: transparent;
	color: white;
	border: white solid;
}

a.project1.btn-default:hover {
	background-color: white;
	color: #e9bc1b;

}

div.detail {
	width: 50%;
	height: 200px;
	margin: 0 auto;
	color: white;

}


div.feedyoself {
	display: none;
	width: 100%;
	height: 450px;
	background-color: #4A96AD;
}

a.project2.btn-default {
	border-radius: 0px;
	background-color: transparent;
	color: white;
	border: white solid;
}

a.project2.btn-default:hover {
	background-color: white;
	color: #4A96AD;

}
div.background2{
	background-image: url("http://i.imgur.com/8YOsMjk.png");
	background-repeat: none;
	width: 70%;
	height: 200px;
	border: 5px black solid;
	margin: 0 auto;
	margin-top: 5%;
}

div.meet-me-at {
	display: none;
	width: 100%;
	height: 450px;
	background-color: #cf4858;
}

div.background3{
	background-image: url("http://i.imgur.com/CzOulQo.png");
	background-repeat: none;
	width: 70%;
	height: 200px;
	border: 5px black solid;
	margin: 0 auto;
	margin-top: 5%;
}

a.project3.btn-default {
	border-radius: 0px;
	background-color: transparent;
	color: white;
	border: white solid;
}

a.project3.btn-default:hover {
	background-color: white;
	color: #cf4858;

}

.contact-me {
	display: none;
	width: 100%;
	height: 300px;
	background-color: #4A96AD;
	text-align: center;
	border: 5px white solid;
	margin-top: 1%;

	h3 {
		padding-top: 2%;
		padding-bottom: 3%;
		color: white;
	}

	.input-md {
		border-radius: 0px;
	}

	.input-md:hover {

		background-color:transparent;
		color: white;

	}

	.btn-md {
		border-radius: 0px;
		background-color: transparent;
		color: white;
	}

	.btn-md:hover {

		background-color: white;
		color: #4A96AD;

	}
}



div.work-box{
	width: 100%;

	.work-one {
		width: 33%;
		height: 400px;
		background-color: #e9bc1b;
		


	}

	.work-one_hover {
		width: 33%;
		height: 400px;
		background-image: url("http://i.imgur.com/FV1qnv8.png");
		overflow: hidden;


	}

	.work-two {
		width: 34%;
		height: 400px;
		background-color: #4A96AD;
		overflow: hidden;

	}

	.work-two_hover {
		width: 34%;
		height: 400px;
		background-image: url("http://i.imgur.com/2Wummke.png");
		overflow: hidden;

	}

	.work-three {
		width: 33%;
		height: 400px;
		background-color: #cf4858;
		overflow: hidden;

	}

	.work-three_hover {
		width: 33%;
		height: 400px;
		background-image: url("http://i.imgur.com/JBt84du.png");
		overflow: hidden;

	}

	div.btn.btn-default {
		border-radius: 0px;
		background-color: transparent;
		border: 2px white solid;
		margin-top: 50%;
		color: white;

	
	}




}

.about-close-box, .contact-close-box, {
	border-radius: 0px;
	background-color: transparent;
	border: 1px white solid;
	color: white;
}

.project3-close-box, .project2-close-box, .project1-close-box {

	border-radius: 0px;
	background-color: transparent;
	color: white;
	border: white solid;

}

@media screen and (max-width: 768px) {
	div.about-me {
		width: 100%;
		height:750px;
	}

	div.image {
		width: 100%;
		margin-bottom: 0%;
		margin-left: 0%;
	}

	div.bio {
		width: 100%;
		margin-bottom: 0%;
		margin-left: 0%;

	}

	div.contact-me {
		width: 100%;
		height: 500px;
	}

	div.btn.btn-default {
		margin-left: -10%;
		
	}


	div.tic-tac-toe {
	display: none;
	width: 100%;
	height: 400px;
	background-color: #e9bc1b;
	margin-top: -8%;
	}

	div.projectone-top {
		width: 100%;
		position: relative;
		margin-top: 5%;
	}

	div.background{
		background-image: url("http://i.imgur.com/4gA2xKH.png");
		background-repeat: none;
		width: 90%;
		height: 200px;
		border: 5px black solid;
		margin: 0 auto;
	}

	div.projectone-bottom {
		width: 100%;
		position: relative;
	}

	div.detail {
		width: 90%;
		height: 200px;
		margin-top: 10%;



	}

	div.feedyoself {
		display: none;
		width: 100%;
		height: 460px;
		background-color: #4A96AD;
		margin-top: -8%
	}



	div.background2{
		background-image: url("http://i.imgur.com/8YOsMjk.png");
		background-repeat: none;
		width: 90%;
		height: 200px;
		border: 5px black solid;
		margin: 0 auto;
		margin-top: 5%;
	}

	div.meet-me-at {
		display: none;
		width: 100%;
		height: 450px;
		background-color: #cf4858;
		margin-top: -8%
	}

	div.background3{
		background-image: url("http://i.imgur.com/CzOulQo.png");
		background-repeat: none;
		width: 90%;
		height: 200px;
		border: 5px black solid;
		margin: 0 auto;
		margin-top: 5%;
	}

	h2.hello {
		margin-top: 30%;
	}


}



